body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLA5HQQJt4KdxGAtzqDDCFGkjAqK-_LPE0fTlCiIM0YtAbuq-P')
}

nav{
    /* background-color: white; */
    border-bottom: 1px solid black;
    color: black;
}


.wrapper{
    margin:auto;
    font-weight :bold;
    width: 330px;
    margin-top:5%;
}

input{
    float: right;
}

@media screen and (max-width:330px){
    .wrapper{
        width:100%;
    }
}

.btn-reset{
    float: left;
    width: 50%;
}
.btn-submit{
    width: 50%;
}
